<p class="md-display-2" layout="row" layout-align="center center">
    WebOPM - Offline Start Page
</p>

<div ng-app="mainApp">

    <div layout="row" layout-xs="column" layout-align="center center">
        <md-card md-theme="{{'light-blue'}}" md-theme-watch>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Offline</span>
                    <span class="md-subhead">Work locally, only edit local files.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="/app/assets/cloudOff.svg">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="column" layout-align="center center" ng-controller="fileController">
                <md-button class="md-raised" ng-click="createModel()">New Project</md-button>
                <md-button class="md-raised" ng-click="loadModel()">Load Project </md-button>

</md-card-actions>
</md-card>

<md-card md-theme="{{'dark-purple'}}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Online</span>
            <span class="md-subhead">Work on server, allows up/down-load.</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img src="/app/assets/cloudOn.svg">
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="column" layout-align="center center">
        <md-button class="md-raised">Go to Web App</md-button>
    </md-card-actions>
</md-card>
</div>