/* Types of the ng-file-upload */
.red{background-color: red;}
.lightblue{background-color: lightblue;}
.lightgreen{background-color: lightgreen;}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 1px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

.transparent{
  background-color: transparent;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

/* Types of the ng-file-upload */
form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}